<center><table style="undefined;table-layout: fixed; width: 424px">
<colgroup>
<col style="width: 213px">
<col style="width: 213px">
</colgroup>
  <tr>
    <th><span style="font-weight:bold;text-decoration:underline"><h3>User Name</h3></span></th>
    <th><span style="font-weight:bold;text-decoration:underline"><h3>Password</h3></span></th>
  </tr>
  <tr>
    <td>admin</td>
    <td>admin</td>
  </tr>
  <tr>
    <td>student</td>
    <td>minedminds</td>
  </tr>
  <tr>
    <td>guest</td>
    <td>guest</td>
  </tr>
</table>
</center>