<center><table style="undefined;table-layout: fixed; width: 424px" border="2">
<colgroup>
<col style="width: 213px">
<col style="width: 213px">
</colgroup>
  <tr>
    <th><span style="font-weight:bold;text-decoration:underline"><h2>User Name</h2></span></th>
    <th><span style="font-weight:bold;text-decoration:underline"><h2>Password</h2></span></th>
  </tr>
  <tr>
    <td>admin</td>
    <td>admin</td>
  </tr>
  <tr>
    <td>student</td>
    <td>minedminds</td>
  </tr>
  <tr>
    <td>guest</td>
    <td>guest</td>
  </tr>
</table>
<br>
<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
</center>
