<link rel="stylesheet" type="text/css" href="/css/styles.css">

<title>Secured Calculator</title>

<header><h2>Secured Calculator app</h2></header>
<body>
  <nav>
    <ul>
	    <li><center><u><b>Menu</b></u></center></li>
            <hr color="orange">
          <li><center><u><b>Other Programs by me</b></u></center></li>
            <hr color="orange">
        <li><a href="https://coin-changer-wm.herokuapp.com/">Coin Changer</a></li>
      	    <hr color="orange">
        <li><a href="https://personal-detail-wm.herokuapp.com/">Personal Details</a></li>
      	    <hr color="orange">
          <li><center><u><b>Awesome Websites</b></u></center></li>
            <hr color="orange">
        <li><a href="http://www.disturbedmedia.com">Disturbedmedia.com</a></li>
        <li><a href="http://www.minedminds.org/">Mined Minds</a></li>
    	<li><a href="https://www.w3schools.com/">W3schools.com</a></li>
            <hr color="orange">
        <center>
           <a href="http://www.minedminds.org/"><img align="center" border="1px" width="150px" height="75px" src="/images/logo.png"></a>
        </center>
		</ul>
  </nav>
  <article>
    <%=yield%>
</article>
</body>
<footer>
    <center>
        <p> App by : Twfdisturbed </p>
      
    </center>
</footer>