<link rel="stylesheet" type="text/css" href="/css/styles.css">

<title>Secured Calculator</title>
<body>
  <nav>
      <div class="dropdown">
  <button class="dropbtn">More Programs by me</button>
  <div class="dropdown-content">
        <a href="https://coin-changer-wm.herokuapp.com/">Coin Changer</a>
        <a href="https://random-pairing.herokuapp.com/">Random Name Pairing</a>
       <a href="https://personal-detail-wm.herokuapp.com/">Personal Details</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Awesome Websites</button>
  <div class="dropdown-content">
        <a href="http://www.disturbedmedia.com">Disturbedmedia.com</a>
        <a href="http://www.minedminds.org/">Mined Minds</a>
    	<a href="https://www.w3schools.com/">W3schools.com</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Social Media</button>
  <div class="dropdown-content">
        <a href="http://www.twitter.com/twfdisturbed">twitter @twfdisturbed</a>
    	<a href="https://www.instagram.com/twfdisturbed">instagram @twfdisturbed</a>
        <a href="http://www.youtube.com/twfdisturbed">Youtube</a>
  </div>
</div>
  </nav>
  <header><h2>Secured Calculator app</h2></header>
  <article>
    <%=yield%>
</article>
</body>
<footer>
    <center>
        <p> App by : Twfdisturbed </p>
      
    </center>
</footer>