<form method="post" action="log">

	<input type="text" name="user_name" placeholder="User Name" required>
	<input type="password" name="pass" placeholder="Password" required>
<br>
	
	<input type="submit" value="Go">
</form>
<a href="forget">Did you Forget your password?</a>



